body
{ 
  /*margin: 10px 10% 10px 10%;*/
  font-family: Tahoma;
  background-color: silver; /*(darker soft blue?)*/
  color:  #cccc99; /*light gold*/ 
}

main
{
		
}


header, footer
{
  text-align: center;
  clear: both;
}


button{
    width: 350px;
    height: 40px;
	text-align: left;
	color: #000033; /*very dary blue*/
	background-color: #D4E6F1; /*light blue*/
	border-radius: 6px;
	
}